<%- include('partials/header'); -%>

<style>
  .main {
    padding: 2% 2%;
  }

  @media (min-width: 768px) {
    .main {
      padding: 2% 5%;
    }

    .tools {
      position: relative;
      top: 8px;
    }

    .row {
      margin-bottom: 0;
    }
  }

  .add-btn {
    border-radius: 10px;
  }

  .add-btn span {
    background-color: green;
    border: 100%;
  }

  .card-panel {
    padding: 14px;
  }

  .notice-title {
    margin: 8px auto;
  }

  .icons {
    /* padding: 10px; */
    background: white;
    border-radius: 10px;
    height: 73px;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  .icons i {
    display: block;
    font-size: 2rem;
  }
</style>

<body class="has-fixed-sidenav">
    
    <%- include('partials/sidebar'); -%>

    <section>
        <%- include('partials/banner'); -%>
        
    </section>

    <!-- MODAL FOR NEW EVENT -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div>
          <h4>New Event</h4>
          <form action="/uploadEvents" method="POST" enctype="multipart/form-data" id="upload_form">
            Label<textarea name="main_title" id="" cols="30" rows="15" placeholder="Title followed by discription of your event..."></textarea>
            Start Date<input type="date" name="open_date">
            End Date <input type="date" name="close_date">
            <input type="number" id="ittr" name="ittrname" style="display: none;">
            Venue <input type="text" name="venue" placeholder="Venue of event">
            Registration form link (like: Google Doc, etc.) <input type="text" name="reg_form_link" placeholder="Leave it blank if not available">
            <span>Attachments</span>
          </form><br>
          <button class="waves-effect waves-light btn add_button">Add Attachment +</button>
          <button type="submit" form="upload_form" value="Submit" class="waves-effect waves-light btn"
            style="margin-left: 20px;">Submit</button>
        </div>
      </div>
    </div>


    <!-- MODAL FOR EDIT EVENT -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <div>
          <h3>Edit Notice
            <i class="fa fa-trash-o modal-close modal-trigger" style="color: red;" onclick="deletePermanently(this)"
              data-target="modal3"></i></h3>
          <form action="/events/edit" method="POST" enctype="multipart/form-data" id="edit_form">
            Label<textarea name="main_title" id="main_title" cols="30" rows="10"></textarea>
            Open Date<input type="date" name="open_date" id="open_date">
            Close Date <input type="date" name="close_date" id="close_date">
            Venue <input type="text" name="venue" id="edit_venue">
            Registration form link (like: Google Doc, etc.) <input type="text" name="reg_form_link" id="edit_doclink"/>
            <input type="number" id="ittr_edit" name="ittrname" style="display: none;">
            <input type="text" id="edit_file_id" name="file_id" style="display: none;">
            <input type="text" name="file_id" style="display: none;" class="file_id_edit">
            <h4>Attachments</h4>
          </form><br>
          <!-- <button class="waves-effect waves-light btn add_button">Add Attachment +</button> -->
          <button type="submit" form="edit_form" value="Submit" class="waves-effect waves-light btn"
            style="margin-left: 20px;">Submit</button>
        </div>
      </div>
    </div>



    <!-- MODAL FOR DELETE EVENT -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <div>
          <h5>Want to delete the selected notice permanently?</h5>
          <span style="display: none;" id="delete_file_id"></span>
          <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-light btn">Cancel</a>
            <button class="modal-close waves-effect waves-light btn" style="margin-left: 20px;"
              onclick="deletenotice()">Confirm</button>
          </div>
        </div>
      </div>
    </div>


    <!-- MODAL FOR FILTER EVENT -->
    <div id="modal4" class="modal">
      <div class="modal-content">
        <div>
          <h5>Filter on the basis of date of release</h5>
          <label for="start date" style="font-size: medium;">Start date</label>
          <input type="date" id="filter_start_date">
          <label for="end date" style="font-size: medium;">End date</label>
          <input type="date" id="filter_end_date">
          <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-light btn">Cancel</a>
            <button class="modal-close waves-effect waves-light btn" style="margin-left: 20px;"
              onclick="filterNotice()">Confirm</button>
          </div>
        </div>
      </div>
    </div>



    <div class="main">
      <div class="row">
        <div class="col s12 m6 flex">
          <h2 class="flow-text">Recent Events</h2>
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add +</a>
        </div>
        <div class="col s12 m6 flex right">
          <button class="btn-flat"><i class="fa fa-history"></i></button>
          <button class="modal-trigger btn-flat" data-target="modal4"><i class="fa fa-filter"></i> Filter</button>
        </div>
      </div>
      
  <ul id="allitemslist">
    <% for(var i=0;i<events.length;i++){ %>
    <li>
      <div style="display: none;"><%= events[i].id %></div>
      <div class="row">
        <div class="col s12 m8">
          <div class="card-panel notice-title">
            <span class="truncate title"><%= events[i].title %></span>
            <% for(var j=0;j<events[i].attachments.length;j++){ %>
            <i class="fa fa-flag"></i>
            <a href="<%= (events[i].attachments)[j].url %>" class="sub_a"
              target="blank"><%= (events[i].attachments)[j].caption %></a>
            <% }%>
            <i class="fa fa-map-marker" style="color: red;"></i>
            <span class="venue"><%= events[i].venue %></span>
            <span class="right close_date_li"><%= events[i].closeDate %></span>
          </div>
        </div>
        <div class="col s12 m4 flex tools">
          <div class="icons card-panel visible_card" onclick="visible_change(this)">
            <div style="display: none;"><%= events[i].id %></div>
            <div style="display: none;"><%= events[i].timestamp %></div>
            <div style="display: none;"><%= events[i].closeDate %></div>
            <% if(events[i].isvisible == 1){ %>
            <i class="fa fa-eye" style="color:green;"></i>
            <span>Visible</span>
            <% }else{ %>
            <i class="fa fa-eye-slash" style="color: red;"></i>
            <span>Archive</span>
            <% } %>
          </div>
          <div class="icons card-panel important_card" onclick="reg_link_click(this)">
            <i class="fa fa-link" style="color: red;"></i>
            <span>Reg link</span>
            <span class="doclink" style="display: none;"><%= events[i].doclink %></span>
          </div>
          <div class="icons card-panel modal-trigger" onclick="edit_clicked(this)" data-target="modal2">
            <div style="display: none;"><%= events[i].id %></div>
            <i class="fa fa-pencil"></i>
            <span>edit</span>
          </div>
        </div>
      </div>
      <div class="openDate" style="display: none;"><%= events[i].openDate %></div>
      <div class="timeStamp" style="display: none;"><%= events[i].timestamp %></div>
    </li>
    <% } %>
  </ul>
  </div>
  </body>
  <script>
    var xhttp = new XMLHttpRequest();
    //Ajax request for toggleing visible or Archive

    function datemaker(date_time_stamp) {
      var d = new Date(date_time_stamp)
      return d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
    }

    function visible_change(params) {
      var visble_text = params.getElementsByTagName('span')[0].textContent;
      var main_id = params.getElementsByTagName('div')[0].textContent;
      var timeStamp = params.getElementsByTagName('div')[1].textContent;
      var close_date = params.getElementsByTagName('div')[2].textContent;
      var visible_status_send = 1;
      var events_arr = document.getElementById('allitemslist').getElementsByTagName('li');
      if (visble_text == "Visible") {
        visible_status_send = 0;
        params.getElementsByTagName('span')[0].textContent = "Archive";
        params.getElementsByTagName('i')[0].style.color = "red";
        params.getElementsByTagName('i')[0].classList.remove("fa-eye")
        params.getElementsByTagName('i')[0].classList.add("fa-eye-slash")
      } else {
        params.getElementsByTagName('span')[0].textContent = "Visible";
        params.getElementsByTagName('i')[0].style.color = "green";
        params.getElementsByTagName('i')[0].classList.remove("fa-eye-slash")
        params.getElementsByTagName('i')[0].classList.add("fa-eye")
      }
      xhttp.open("POST", "/events/visible_toggle", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(`fileid=${main_id}&visible_status=${visible_status_send}`);

      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          console.log(datemaker(JSON.parse(this.responseText).closeDate))
          var format_res = datemaker(JSON.parse(this.responseText).closeDate);
          for (var i = 0; i < events_arr.length; i++) {
            if (events_arr[i].getElementsByTagName('div')[0].textContent == main_id) {
              events_arr[i].getElementsByClassName('close_date_li')[0].innerHTML = format_res;
              break;
            }
          }
        }
      };
      xhttp.open("GET", `/events/closeDate/${main_id}`, true);
      xhttp.send();
    }

    //ajax request for deleteing notice permanently
    function deletenotice() {
      var events_arr = document.getElementById('allitemslist').getElementsByTagName('li');
      var folder_id = document.getElementById('delete_file_id').innerHTML;
      for (var i = 0; i < events_arr.length; i++) {
        if (events_arr[i].getElementsByTagName('div')[0].textContent == folder_id) {
          events_arr[i].remove();
          break;
        }
      }
      xhttp.open("POST", "/events/delete", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(`file_id=${folder_id}`);
    }

    //ajax filter events
    function filterNotice() {
      var events_arr = document.getElementById('allitemslist').getElementsByTagName('li');
      var wrapper_filter = document.getElementById('allitemslist');
      var start_date = document.getElementById('filter_start_date').value;
      var end_date = document.getElementById('filter_end_date').value;
      var obj_arr = [start_date, end_date];
      console.log(obj_arr);
      while (events_arr.length > 0) {
        wrapper_filter.removeChild(events_arr[0]);
      }
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          var events = JSON.parse(this.responseText);
          for (var i = 0; i < events.length; i++) {
            var html_create = `<li>
        <div style="display: none;">${events[i].id}</div>
        <div class="row">
          <div class="col s12 m8">
            <div class="card-panel notice-title">
              <span class="truncate title">${events[i].title}</span>
              <div class="attachments_wrap" style="display:inline-block; width:80%;"></div>
              <span class="right close_date_li" style="display:inline-block">${events[i].closeDate}</span>
            </div>
          </div>
          <div class="col s12 m4 flex tools">
            <div class="icons card-panel visible_card" onclick="visible_change(this)">
              <div style="display: none;">${events[i].id}</div>
              <div style="display: none;">${events[i].timestamp}</div>
              <div style="display: none;">${events[i].closeDate}</div>
            </div>
            <div class="icons card-panel important_card" onclick="reg_link_click(this)">
              <div style="display: none;">${events[i].id}</div>
              <i class="fa fa-link" style="color: red;"></i>
              <span>Reg link</span>
              <span class="doclink" style="display: none;">${events[i].doclink}</span>
            </div>
            <div class="icons card-panel modal-trigger" onclick="edit_clicked(this)" data-target="modal2">
              <div style="display: none;">${events[i].id}</div>
              <i class="fa fa-pencil"></i>
              <span>edit</span>
            </div>
          </div>
        </div>
        <div class="openDate" style="display: none;">${events[i].openDate}</div>
        <div class="timeStamp" style="display: none;">${events[i].timestamp}</div>
      </li>`
            $(wrapper_filter).append(html_create);
            for (var j = 0; j < events[i].attachments.length; j++) {
              var html_attach =
                `<i class="fa fa-flag"></i><a href="${(events[i].attachments)[j].url}" class="sub_a"target="blank">${(events[i].attachments)[j].caption}</a>`
              $(wrapper_filter.getElementsByTagName('li')[i].getElementsByClassName('attachments_wrap')[0]).append(
                html_attach);
            }
            var html_visible = "";
            if (events[i].isvisible == 1) {
              html_visible = '<i class="fa fa-eye" style="color:green;"></i><span>Visible</span>'
            } else {
              html_visible = '<i class="fa fa-eye-slash" style="color: red;"></i><span>Archive</span>'
            }
            $(wrapper_filter.getElementsByTagName('li')[i].getElementsByClassName('visible_card')[0]).append(
              html_visible);
          }
        }
      };
      xhttp.open("GET", `/events/filter/${obj_arr}`, true);
      xhttp.send();
    }

    //edit model data setter

    function dateFormatter(date) {
      var day = [],
        s = "";
      for (var i = 0; i < date.length; i++) {
        if (date[i] == '/') {
          day.push(s);
          s = "";
        } else {
          s += date[i];
        }
      }
      day.push(s);
      if (day[0].length == 1)
        day[0] = "0" + day[0];
      if (day[1].length == 1)
        day[1] = "0" + day[1];
      return day[2] + "-" + day[1] + "-" + day[0];
    }

    function edit_clicked(params) {
      var folder_id = params.getElementsByTagName('div')[0].textContent;
      document.getElementById('edit_file_id').value = folder_id;
      var main_text = document.getElementById('main_title');
      var open_date = document.getElementById('open_date');
      var close_date = document.getElementById('close_date');
      var doclink = document.getElementById('edit_doclink');
      var venue = document.getElementById('edit_venue');
      var events_arr = document.getElementById('allitemslist').getElementsByTagName('li');
      var wrapper_edit = document.getElementById('edit_form');
      wrapper_edit.getElementsByClassName('file_id_edit')[0].value = folder_id;
      var element_to_remove = document.getElementsByClassName('divadded');
      while (element_to_remove.length > 0) {
        wrapper_edit.removeChild(element_to_remove[0]);
      }
      console.log(events_arr);
      for (var i = 0; i < events_arr.length; i++) {
        if (events_arr[i].getElementsByTagName('div')[0].textContent == folder_id) {
          console.log(events_arr[i].getElementsByTagName('span')[3].innerHTML)
          main_text.value = events_arr[i].getElementsByClassName('title')[0].innerHTML;
          close_date.value = dateFormatter(events_arr[i].getElementsByClassName('close_date_li')[0].innerHTML);
          open_date.value = dateFormatter(events_arr[i].getElementsByClassName('openDate')[0].textContent)
          doclink.value = events_arr[i].getElementsByClassName('doclink')[0].innerHTML;
          venue.value = events_arr[i].getElementsByClassName('venue')[0].innerHTML;
          var attachments_arr = events_arr[i].getElementsByTagName('a');
          document.getElementById('ittr_edit').value = attachments_arr.length;
          for (var j = 0; j < attachments_arr.length; j++) {
            var nametitle = "subtitle" + (j + 1);
            var div_id = "div" + (j + 1);
            var name_link = "link" + (j + 1);
            var fieldHTML = '<div class="divadded">' + (j + 1) + '. <input type="text" name=\"' + nametitle +
              '\"placeholder="Subtitle" value=\"' + attachments_arr[j].innerHTML +
              '\" style="width:95%;" /><a href=\"' + attachments_arr[j].href +
              '\"><i class="fa fa-external-link" style="color: blue;" onclick="removeButton(this)"></i></a><input type="text" value="' +
              attachments_arr[j].href + '" name="' + name_link + '" target="_blank" style="display: none;"/></div>'
            $(wrapper_edit).append(fieldHTML);
          }
          break;
        }
      }
    }

    function deletePermanently(params) {
      var file_id = document.getElementsByClassName('file_id_edit')[0].value;
      document.getElementById('delete_file_id').innerHTML = file_id;
    }

    function reg_link_click(params){
      var docLink = params.getElementsByTagName('span')[1].innerHTML;
      window.open(
      docLink,'_blank'
      );
    }

  var listitem = document.getElementById('events');
  listitem.classList.add('active')
</script>
<%- include('partials/footer') -%>

<script>
  var ittr = 1;
  $(document).ready(function () {
        $('.modal').modal();
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('#upload_form'); //Input field wrapper
        //Once add button is clicked
        $(addButton).click(function(){
        var nametitle = "subtitle"+ittr;
        var namefile = "filename"+ittr;
        var div_id = "div"+ittr;
        var i_class = ""+ittr
        var fieldHTML = '<div class='+' \"'+div_id+'\"'+'><input type="text" name='+'\"'+nametitle+'\"'+'placeholder="SubTitle" /><input type="file" name='+' \"'+namefile+'\"'+' /><i class="fa fa-trash-o '+i_class+'" style="color: red;" onclick="removeButton(this)"></i></div>'
        $(wrapper).append(fieldHTML);
        $('#ittr').val(ittr);
        ittr++;
        })

        })
        function removeButton(params) {
        console.log(params.classList[2]);
        var ittrval = parseInt(params.classList[2]);
        //console.log(ittrval)
        var maindiv_present= document.getElementsByClassName(`div${ittrval}`)[0];
        maindiv_present.remove();
        for(var i=ittrval+1;i<ittr;i++){ 
          var maindiv=document.getElementsByClassName(`div${i}`)[0];
          var target=maindiv.getElementsByTagName('input'); target[0].name="subtitle" +(i-1); target[1].name="filename"
          +(i-1); maindiv.getElementsByTagName('i')[0].classList.remove(i+"");
          maindiv.getElementsByTagName('i')[0].classList.add((i-1) + "" ); maindiv.classList.add(`div${i-1}`);
          maindiv.classList.remove(`div${i}`); 
        } 
        ittr--; //document.getElementById('ittr').value=ittr;
        $('#ittr').val(ittr-1); 
      }
</script>