<%- include('partials/header'); -%>
<style>
  .main {
    padding: 2% 2%;
  }

  @media (min-width: 768px) {
    .main {
      padding: 2% 5%;
    }

    .tools {
      position: relative;
      top: 8px;
    }

    .row {
      margin-bottom: 0;
    }
  }

  .add-btn {
    border-radius: 10px;
  }

  .add-btn span {
    background-color: green;
    border: 100%;
  }

  .card-panel {
    padding: 14px;
  }

  .notice-title {
    margin: 8px auto;
  }

  .icons {
    /* padding: 10px; */
    background: white;
    border-radius: 10px;
    height: 73px;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }

  .icons i {
    display: block;
    font-size: 2rem;
  }
</style>

<body class="has-fixed-sidenav">

  <%- include('partials/sidebar'); -%>

  <section>
    <%- include('partials/banner'); -%>

  </section>
  <!-- MODAL FOR NEW NOTICE -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div>
        <h1>New Notice</h1>
        <!-- enctype="multipart/form-data" -->
        <form action="/uploadNotices" method="POST" enctype="multipart/form-data" id="upload_form">
          Label<textarea name="main_title" id="" cols="30" rows="10"></textarea>
          Open Date<input type="date" name="open_date">
          Close Date <input type="date" name="close_date">
          <input type="number" id="ittr" name="ittrname" style="display: none;">
          <label>
            <input type="checkbox" name="important" />
            <span><i class="fa fa-star"></i> Important</span>
          </label>
        </form><br>
        <button class="waves-effect waves-light btn add_button">Add Attachment +</button>
        <button type="submit" form="upload_form" value="Submit" class="waves-effect waves-light btn"
          style="margin-left: 20px;">Submit</button>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="row">
      <div class="col s12 m6 flex">
        <h2 class="flow-text">Recent Notices</h2>
        <!-- Modal Trigger -->
        <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add +</a> -->
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add +</a>


      </div>
      <div class="col s12 m6 flex right">
        <button class="btn-flat"><i class="fa fa-history"></i></button>
        <button class="btn-flat"><i class="fa fa-filter"></i> Filter</button>
      </div>
    </div>
    <ul>
      <% for(var i=0;i<notices.length;i++){ %>
      <li>
        <div style="display: none;"><%= notices[i].id %></div>
        <div class="row">
          <div class="col s12 m8">
            <div class="card-panel notice-title">
              <span class="truncate">
                <%= notices[i].title %>
              </span>
              <i class="fa fa-flag"></i>
              <% for(var j=0;j<notices[i].attachments.length;j++){ %>
              <a href="<%= (notices[i].attachments)[j].url %>" class="sub_a" target="blank">
                <%= (notices[i].attachments)[j].caption %>
              </a>
              <% }%>
              <span class="right"><%= notices[i].closeDate %></span>
            </div>
          </div>
          <div class="col s12 m4 flex tools">
            <div class="icons card-panel visible_card">
              <div style="display: none;"><%= notices[i].id %></div>
              <% if(notices[i].isvisible == 1){ %>
              <i class="fa fa-eye" style="color:green;"></i>
              <span>Visible</span>
              <% }else{ %>
              <i class="fa fa-eye-slash" style="color: red;"></i>
              <span>Invisible</span>
              <% } %>
            </div>
            <div class="icons card-panel important_card">
              <div style="display: none;"><%= notices[i].id %></div>
              <% if(notices[i].important == 1){ %>
              <i class="fa fa-star" style="color: red;"></i>
              <span>Important</span>
              <% }else{ %>
              <i class="fa fa-star" style="color:green;"></i>
              <span>Unimportant</span>
              <% } %>
            </div>
            <div class="icons card-panel">
              <i class="fa fa-pencil"></i>
              <span>edit</span>
            </div>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</body>
<script>
  var xhttp = new XMLHttpRequest();
  var important_arr = document.getElementsByClassName('important_card');
  for (var i = 0; i < important_arr.length; i++) {
    important_arr[i].onclick = function () {
      var important_text = this.getElementsByTagName('span')[0].textContent;
      var important_status = 1;
      var main_id = this.getElementsByTagName('div')[0].textContent;
      if (important_text == "Important") {
        important_status = 0;
        this.getElementsByTagName('span')[0].textContent = "Unimportant";
        this.getElementsByTagName('i')[0].style.color = "green";
      } else {
        this.getElementsByTagName('span')[0].textContent = "Important";
        this.getElementsByTagName('i')[0].style.color = "red";
      }
      xhttp.open("POST", "/important_toggle", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(`important=${important_status}&fileid=${main_id}`);
    }
  }

  var visible_arr = document.getElementsByClassName('visible_card');
  for (var i = 0; i < visible_arr.length; i++) {
    visible_arr[i].onclick = function () {
      var visble_text = this.getElementsByTagName('span')[0].textContent;
      var main_id = this.getElementsByTagName('div')[0].textContent;
      if (visble_text == "Visible") {
        this.getElementsByTagName('span')[0].textContent = "Invisible";
        this.getElementsByTagName('i')[0].style.color = "red";
        this.getElementsByTagName('i')[0].classList.remove("fa-eye")
        this.getElementsByTagName('i')[0].classList.add("fa-eye-slash")
      } else {
        this.getElementsByTagName('span')[0].textContent = "Visible";
        this.getElementsByTagName('i')[0].style.color = "green";
        this.getElementsByTagName('i')[0].classList.remove("fa-eye-slash")
        this.getElementsByTagName('i')[0].classList.add("fa-eye")
      }
      xhttp.open("POST", "/visible_toggle", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(`fileid=${main_id}`);
    }
  }

  var listitem = document.getElementById('notices');
  listitem.classList.add('active')
</script>

<%- include('partials/footer') -%>

<script>
  $(document).ready(function () {
    $('.modal').modal();

    var ittr=1;
    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('form'); //Input field wrapper

    //Once add button is clicked
    $(addButton).click(function(){
        var nametitle = "subtitle"+ittr;
        var namefile = "filename"+ittr;
        var fieldHTML = '<div><input type="text" name='+' \"'+nametitle+'\"'+'placeholder="SubTitle" /><input type="file" name='+' \"'+namefile+'\"'+' /></div>'
        $(wrapper).append(fieldHTML);
        $('#ittr').val(ittr);
        ittr++;
    })
  })
</script>